input {
    background-color: #ffffff;
    border-radius: 10px;
    border: 0px;
    height: 32px;
    width: 120px;
    box-shadow: 2px 3px 10px #000000;
}

button {
    height: 38px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 2px 3px 10px #000000;
    background-color: lightgray;
}